@page "{id:int}"
@model JustBooks.Pages.Admin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.AuthorFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.AuthorFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.AuthorLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.AuthorLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Book.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
